spring:
  application:
    name: rest-with-spring-boot-java
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rest-with-spring-boot-java?useTimezone=true&serverTimezone=UTC
    username: root
    password: root
  devtools:
    restart:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
    show-sql: false
    open-in-view: false
logging:
  level:
    br.com.lpd: debug